name: Update CSV

on:
    schedule:
      - cron:  '0 9 1 * *'
    workflow_dispatch:

permissions: read-all

jobs:
    update-data:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b
              with:
                  disable-sudo: true
                  egress-policy: audit

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098
              with:
                python-version: ${{ matrix.python-version }}
                activate-environment: true
                cache-dependency-glob: |
                  **/pyproject.toml
                  **/uv.lock
    
            - run: >-
                uv sync
                --upgrade

            - name: Run package
              run: maine_state_senator_data

            - name: Commit Changes
              uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9
              with:
                commit_message: Updated legislator data
