name: Update CSV

on:
    schedule:
      - cron:  '0 9 1 * *'
    workflow_dispatch:

permissions: read-all

jobs:
    update-data:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
              with:
                  disable-sudo: true
                  egress-policy: audit

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

            - name: Set up Python 3.13
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@0590ea0c73b1fdb765847c94975e71c97d9ad0b1

            - name: Install module and dependencies
              run: |
                  uv pip install --system .

            - name: Run package
              run: |
                  maine_state_senator_data

            - name: Commit Changes
              uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9
              with:
                commit_message: Updated legislator data
